footer{
    font-family: "Funnel Display", sans-serif;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    background-color: #37123f;
    height:127px;
}
